<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Ingresa tu email</ion-title>
    <p class="subtitle">para recibir el link para restablecer tu contraseña</p>
  </div>
  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Correo electrónico" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div class="button-container">
        <ion-button expand="block" class="login-button">ENVIAR LINK</ion-button>
      </div>
      <div class="back-to-login">
        <a [routerLink]="['/login']" style="color:#367e58">Volver al login</a>
      </div>
    </div>
  </form>
</ion-content>


